

body{
	font-family: "Microsoft YaHei","iconfont"  !important;
	background: #F5F3F4;
}

header>a{
	color: white;
}
.mui-title{
	color: white;
}
.main{
	margin-top: 10px;
}
.infor{
	height: 40px;
	background: white;
	position: relative;
	margin-bottom: 1px;
}
.size{
	color: #B1AFAF;
	letter-spacing: 2px;
	font-size: 14px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.input_size[type=password]{
	display: inline;
	width: 100%;
	border:none;
	height: 39px;

	padding-left: 70px;
}
.input_size_2[type=password]{
	display: inline;
	width: 100%;
	border: none;
	height: 39px;
	padding-left: 100px;
}

.mui-btn-negative{
	border-radius: 0;
	width: 80%;
	margin: 30px 10%;
	padding: 10px 20px;
	font-size: 16px;
	letter-spacing: 3px;
}
input[type=password]:focus{
	border: 1px solid #6699FF;
}








