
body{
	font-family: "Microsoft YaHei","iconfont"  !important;
	background: #FFFFFF;
}
.mui-bar-nav{
	background: #FF3B3B;
	color: white;
}
header>a{
	color: white;
}
.mui-title{
	color: white;
	letter-spacing: 2px;
}
.mui-icon-plusempty{
	font-weight: bold;
}
.mui-content{
	background: #F5F3F4;
}
.box_1{
	height: 30px;
	width: 300px;
	margin: 10px auto;
	border: 2px solid red;
	border-radius: 5px;
	font-size: 14px;
	overflow: hidden;
}
.type_1{
	color: white;
	display: inline-block;
	text-align: center;
	border-right: 1px solid red;
	background: red;
	height: 26px;
	width: 146px;
	line-height: 25px;
	letter-spacing: 10px;
}
.type_2{
	color: red;
	display: inline-block;
	text-align: center;
	height: 26px;
	width: 146px;
	line-height: 25px;
	letter-spacing: 10px;
}
.time{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px 0 0 15px;
	font-size: 14px;
	background: white;
	color: #8C898A;
}
.icon-dian{
	color: #0994DC;
	font-size: 20px;
}
.box_infor{
	display: none;
	padding: 20px 0 20px 35px;
	font-size: 13px;
	color: #7B7879;
}
.infor{
	width: 100%;
	position: relative;
}
.type_3{
	letter-spacing: 30px;
}
.loca{
	display: inline;
	position: absolute;
	top: 0;
	left: 19%;
}

/*上报*/
.icon-edit{
	float: right;
	color: #663333;
	font-size: 22px;
	padding-right: 20px;
}
.shangbao{
	display: none;
}






